html {
    font-size: 16px;
    font-family: "Sono", monospace;
    background-color: #530484;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #ff00b7;
    padding: 20px 20px 20px 20px;
}

h1 {
    text-align: center;
}